{% extends "layout/layout_8-4.html" %}
{% load i18n %}
{% block maincolumn %}
<form class="form" method="post">
  <fieldset>
    <legend>{% trans "Edit your profile" %}</legend>
    {% for field in profile_form %}
    <div class="form-group">
      {{ field.label_tag }} {% if field.required %}*{% endif %}

      {{ field }}
    </div>
    {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
  </fieldset>
  {% csrf_token %}
</form>
{% endblock %}
